
.images-container {
  padding: 1rem;
  column-count: 4;
  column-gap: 10rem;
  margin: 100px auto 100px auto;
}


.explore-content {
  position: absolute;
  flex-flow: wrap;
  justify-content: center;
  top: 250px;
  width: 100%;
  display: flex;
}

.div {
  display: block;
}
