* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.edit-box {
  width: 400px;
  position: absolute;
  left: 120px;
}

.editBox ul li {
  color: red;
  font-size: 12px;
  position: relative;
  padding: 2px;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid #212124;
  color: #212124;
  width: 95%;
  border-radius: 6px;
  padding: 16px;
  cursor: text;
  height: 55px;
  margin: 10px;
}

.edit-button {
    align-items: center;
    background-color: #128fdc;
    cursor: pointer;
    font-size: 15px;
    height: 42px;
    justify-content: center;
    border: none;
    border-radius: 6px;
    color: #fff;
    transition: color .15c ease-in-out;
    width: 95%;
    margin: 10px;
    padding: 16px;
}
