.upload-photo-page {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../public/images/mountain-2.jpg");
  z-index: -1;
}

.upload-photo-form {
  background-color: white;
  margin: 220px auto;
  width: 30rem;
  height: 28rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
}

.upload-photo-icon {
  margin-left: 175px;
}

.inputs-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  width: 94%;
  margin: 0px;
}

.inputs-container label {
  margin-left: 10px;
  
}

.inputs-container > input {
  /* margin: 3px 10px; */
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: -10px;
  width: 100%;
}

.inputs-container > textarea {
  /* margin: 3px 10px; */
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: -10px;
  width: 100%;
}

.upload-photo-title {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #212124;
  display: flex;
  margin-left: 155px;
}

.empty-space {
  margin: 30px;
}

.upload-photo-logo {
  margin-bottom: 1rem;
}
.upload-photo-form ul li {
  color: red;
  font-weight: 500;
  font-size: 13px;
  position: relative;
  margin-left: 135px;
  bottom: 5px
}

.upload-image-button {
  color: white;
  background-color: #128fdc;
  transition: color 0.15c ease-in-out;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  height: 42px;
  width: 22%;
  margin-left: 11rem;
  text-decoration: none;
}

.blank-spaces {
  margin-bottom: 15px;
} 

#navbar-background{
  background-color: #212124;
  height: 64px;
}