.inspiration-words {
    background-image: ;
    align-items: center;
    min-height: 800px;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 20s linear infinite;
    /* background-image: url('../../../public/images/laptop.jpg'); */
}

.inspiration-copy {
    margin: 0px auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-copy h1 {
    color: black;
    font-size: 54px;
    font-weight: 500;
    margin: 200px 0px 5px;
    text-align: center;
}

.inspiration-copy h2 {
    color: black;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

.inspiration-copy button {
    height: 64px;
    font-size: 24px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.inspiration-copy button:hover {
    color: gray;
}
