body {
  margin: 0;
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.splash-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inspiration-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 10;
  color: var(--soft-white);
  opacity: 1;
  min-width: 675px;
}

.inspiration-text h1 {
  z-index: 10;
  opacity: 1;
  font-size: 44px;
  padding: 0;
  margin: 24.12px 0px 5px;
  font-weight: 600;
}

.inspiration-text h3 {
  margin: 26px 0px 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  width: 70%;
}

.inspiration-text button {
  height: 64px;
  font-size: 24px;
  font-weight: 600;
  margin-right: 32px;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 200px;
}