/* .signup-form-container {
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    min-height: 800px;
    position: relative;
    font-size: 20px;
    font-weight:500;
    padding: 0 60px;
    letter-spacing: .5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.signup-form-container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../public/images/mountain.jpeg");
}

.form {
  display: grid;
  flex-direction: column;
}
